<!-- <div class="pages page-clients" id="page-clients">
    <div class="container">
        <h4 class="line-divider-inline center">Satisfied clients</h4>
        <div class="row-fluid">
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Odiseo Team">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Odiseo Team">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Odiseo Team">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Odiseo Team">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Odiseo Team">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Odiseo Team">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2 center smallFontBy08">
                <p>
                    Our work doesn't finish... we always are working for maintain our customers' satisfaction.
                </p>
            </div>
        </div>
    </div>
</div> -->