<div class="pages white paralax page-features" id="page-features" >
    <div class="overlay"></div>
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Servicios</h4>
            <h1>What's Inside</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        Nuestro pasión es la tecnología y nuestro  motor es la perfección continua. Ambas constituyen nuestras guías
                        para brindar excelentes soluciones a nuestros clientes: comprensión, competitividad, precio y calidad.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
            <!-- Features blocks -->
            <div class="row-fluid">
                <div class="span4 center">
                    <img src="{{ asset('bundles/odiseoapp/images/pages/features/about01.png') }}" class="feature_image" alt="Odiseo Team">
                    <h5>Responsive Design</h5>
                    <p class="smallFontBy08 cutBy10">
                        Sitios web responsables que mejoran la experiencia del usuario.
                        El diseño responsable es una filosofía de diseño independiente de la interfaz de usuario, que apunta a desarrolar y optimizar la experiencia de los usuarios en los sitios web sobre diferentes tamaños de  pantalla y resoluciones: desktops, notebooks, tablets, smartphones, etc. </p>
                </div>
                <div class="span4 center">
                    <img src="{{ asset('bundles/odiseoapp/images/pages/features/hybrid1.png') }}"  class="feature_image"  alt="Odiseo Team">
                    <h5>Aplicaciones híbridas: Nativas + HTML5 + CSS3</h5>
                    <p class="smallFontBy08 cutBy10">Así como las plataformas móbiles han proliferado, los costos acumulados de contruir y mantener una solución única y nativa también han escalado. Nuestra estrategia para minimizar tales costos es construir aplicaciones cross plataforma que pueden ser ejecutadas en múltiples plataformas móbiles. Entonces, empaquetamos tales aplicaciones utilizando wrappers nativos y las publicamos en diferentes stores como aplicaciones puramente nativas. Esta alternativa, ofrece un significativo ahorro en costos comparado con la construcción de aplicaciones nativas.
                </div>
                <div class="span4 center">
                    <img src="{{ asset('bundles/odiseoapp/images/pages/features/5stars.gif') }}" class="feature_image"  alt="Odiseo Team">
                    <h5>Calidad</h5>
                    <p class="smallFontBy08 cutBy10">Concebimos la alta  calidad en nuestros servicios como una forma de perfección y aprendizaje continuo. Gracias a esto y a nuestra experiencia de años, nuestros servicios de desarrollo y diseño de soluciones poseen  alta calidad en todos sus aspectos: técnica + tecnología +  comunicación + procesos + precios. Las personas y los buenos valores, antes que todo.</p>
                </div>
            </div>
            <!-- Testemonials -->
            <div class="row-fluid">
                <div class="span8 offset2">
                    <div class="quote center">
                        <div id="quote-slider" class="slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
                                    “Un gran placer trabajar con el equipo de Odiseo. Muy profesionales, muy responsables, y expertos en lo que hacen.
                                    El equipo tiene la pasión que se necesita para entregar más allá de lo básico.
                                    Apuntan a brindar la mejor solución para los problemas de los clientes.
                                    No les importa tener que hacer cosas complicadas. Les deseo un gran futuro. Dios los bendiga!.
                                    <h5>CreativePunch - Cliente de  www.elance.com - Cliente Feliz</h5>
                                </div>
                                <div class="item">
                                    Estamos desde el año 2013 trabajando con el equipo de Odiseo como recurso primordial para nuestra empresa. El servicio del equipo es extraordinario, para nosotros es esencial ya que estamos en Puerto Rico. No importa la hora o el día, siempre el equipo de Odiseo está dispuesto a dar la milla extra por nuestros clientes. Muchos éxitos para ellos!!.
                                    <h5>Alan Taveras, CEO de TresEpic - www.tresepic.com - Cliente Feliz</h5>
                                </div>
                                <!-- div class="item">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    <h5>Happy client</h5>
                                </div-->
                            </div>
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-slider" data-slide-to="1"></li>
                                <li data-target="#quote-slider" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- End Article -->
    </div>
</div>